* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  background-color: #F3F3F1;
}

/* TOP OF THE PAGE */

header {
  background-color: #F3F3F1;
  display: flex;
  flex: 0 50px;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 10px #e8e8e3;
}

.TITLE {
  padding: 0 0.5em;
}

h2 {
  padding: 0 1em; 
  font-size: 2.5em;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  color: #3691b0;
  text-decoration: none;
  font-weight: bold;
  padding: 0 0.5em;
}

/* MIDDDLE SECTION */

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#text-and-image {
  display: flex;
  font-weight: bold;
  color: #444444;
  margin-left: 70px;
  max-width: 100%;
}

img {
  border-radius: 10px;
  max-width: 300px;
  height: auto;
}

#img1 {
  position: relative;
  top: 7%;
  left: 40%;
}

/* BOTTOM SECTIONS */

footer {
  flex: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 100%;
}

div {
  padding: 0 0.5em;
}

@media (max-width: 900px) {
  #text-and-image {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  
  h2 {
    font-size: 1.8em;
  }

  img {
    width: 80%;
  }

  main {
    flex: 1 100vh;
  }
}