* {
    font-family: sans-serif;
  }
  
  html {
    height: 100%;
    display: flex;
    flex-shrink: 1;
    background-color: #F8FAFC;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%
  }
  
/* TOP OF THE PAGE */

  header {
    background-color: #F8FAFC;
    display: flex;
    flex: 0 50px;
    flex-direction: row;
    align-items: center;
  }
  
  h1 {
    padding: 0 0.5em;
  }

  h2 {
    padding: 0 1em;
    font-size: 2.5em;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  a {
    color: #3691b0;
    text-decoration: none;
    font-weight: bold;
    padding: 0 0.5em;
  }

/* TIMER SECTION */

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
  }
  
 .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .timer {
    background-color: #EBF6F9;
    width: 700px;
    height: 400px;
    padding: 0 0.5em;
    box-shadow: 0 0 10px 5px #F2F2F2;
    border-radius: 20px;
    margin: 0 1em;
  }

  .timer-button {
    width: 20px;
    height: 20px;
  }

  .top-buttons {
    margin: 10px;
  }
  
  .top-button {
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px #B1DAE7;
    border: none;
    padding: 8px;
    color: #ADD8E6;
    font-weight: bold;
  }

  .circle-and-clock {
    display: flex;
    position: relative;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
  }

  .timer-text {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  .sessions {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
  }
  
  .poms {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
  }
  
  .pom {
    background-color: white;
    border-radius: 8px;
    margin: 5px;
    padding: 8px;
    color: gray;
  }

/* MY TO DO */

.mytodo {
  background-color: #9dd0e1;
  width: 450px;
  height: 400px;
  padding: 0 0.5em;
  box-shadow: 0 0 10px 5px #F2F2F2;
  border-radius: 20px;
  margin: 0 1em;
}

/* BOTTOM SECTIONS */

  .bottom {
    display: flex;
    flex-direction: row;
  }

  footer {
    flex: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  div {
    padding: 0 0.5em;
  }