* {
    font-family: sans-serif;
  }
  
  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%
  }
  
/* TOP OF THE PAGE */

  header {
    background: #ADD8E6;
    display: flex;
    flex: 0 50px;
    flex-direction: row;
    align-items: center;
  }
  
  h1 {
    padding: 0 0.5em;
  }

  h2 {
    padding: 0 1em;  
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  a {
    color: #3691b0;
    text-decoration: none;
    font-weight: bold;
    padding: 0 0.5em;
  }

/* TIMER SECTION */

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
  }
  
  .timer {
    background-color: #EBF6F9;
    width: 600px;
    padding: 0 0.5em;
    box-shadow: 4px 4px #F2F2F2;
    border-radius: 20px;
    margin: 0 1em;
  }

  .top-buttons {
    margin: 10px;
  }
  
  .top-button {
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px #B1DAE7;
    border: none;
    padding: 8px;
    color: #ADD8E6;
    font-weight: bold;
  }

  .sessions {
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
  
  .poms {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  
  .pom {
    background-color: white;
    border-radius: 8px;
    margin: 5px;
    padding: 8px;
    color: gray;
  }

/* BOTTOM SECTIONS */

  .bottom {
    direction: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer {
    flex: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  div {
    padding: 0 0.5em;
  }