* {
    font-family: sans-serif;
    box-sizing: border-box;
  }

  html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    flex: 1;
  }

  body {
    margin: 0;
    background-color: #F3F3F1;
  }
  
/* TOP OF THE PAGE */

  header {
    background-color: #F3F3F1;
    display: flex;
    flex: 0 50px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 10px #e8e8e3;
  }
  
  .site-title {
    padding: 0 0.5em;
  }

  h2 {
    padding: 0 1em;
    font-size: 2.5em;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  a {
    color: #3691b0;
    text-decoration: none;
    font-weight: bold;
    padding: 0 0.5em;
  }

/* TIMER SECTION */

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
  }

 .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;
  }

  .timer {
    background-color: #9dd0e1;
    width: 80vw;
    height: 80vw;
    min-width: 450px;
    max-width: 700px;
    max-height: 400px;
    padding: 0 0.5em;
    box-shadow: 0 0 10px 5px #e8e8e3;
    border-radius: 20px;
    margin: 0 1em auto;
  }

  .timer-button {
    min-width: 60px;
    min-height: 60px;
    width: 100%;
    height: 100%;
    margin: 2%;
    background-color: #9dd0e1;
    border: none;
  }

  .timer img {
    min-width: 60px;
    min-height: 60px;
    width: 100%;
    height: 100%;
  }

  .top-buttons {
    margin: 20px;
  }
  
  .top-button {
    background-color: #c4e3ed;
    border-radius: 7px;
    box-shadow: 1px 1px #B1DAE7;
    border: none;
    padding: 8px;
    color: #76bdd5;
    font-weight: bold;
  }

  .circle-and-clock {
    display: flex;
    position: relative;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
  }

  .circle-and-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
  }

  .main-buttons {
    display: flex;
    flex-direction: row;
    margin: 5%;
  }

  .timer-text {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sessions {
    display: flex;
    flex-direction: row;
    margin-left: 9px;
    align-items: center;
  }
  
  .poms {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
  }
  
  .pom {
    display: flex;
    background-color: #d8edf3;
    border-radius: 50%;
    margin: 5px;
    height: 25px;
    width: 25px;
    color: #76bdd5;
    font-weight: bold;
    align-items: center;
  }

/* MY TO DO */

.mytodo {
  display: flex;
  background-color: #d8edf3;
  width: 450px;
  height: 400px;
  padding: 0 0.5em;
  box-shadow: 0 0 10px 5px #e8e8e3;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 100px;
  align-items: center;
  flex-direction: column;
}

.todo {
  display: flex;
  align-items: center;
}

.todoinput {
  background-color: white;
  border-radius: 20%;
  border: none;
  padding: 7px;
  color: #ADD8E6;
  font-weight: bold;
  width: 250px;
}

.plusimg {
  cursor: pointer;
  margin-left: 5px;
  width: 25px;
  height: 25px;
}

#my-list-items {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 300px;
  height: 250px;
}

ul li {
  padding: 3px;
  font-size: 18px;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ebf6f9;
  border-radius: 5px;
}

/* SHAED TO DO */

.bottom {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 40px;
  justify-content: space-evenly;
}

.shared-to-do {
  display: flex;
  background-color: #d8edf3;
  width: 450px;
  height: 400px;
  padding: 0;
  box-shadow: 0 0 10px 5px #e8e8e3;
  border-radius: 20px;
  margin: 0 1em;
  align-items: center;
  flex-direction: column;
  position: relative;
}

h3 {
  font-size: 25px;
}

#members {
  margin: 0px;
  color: #3691b0;
  position: relative;
  top: -5%;
}

.todoinput {
  background-color: white;
  border-radius: 7px;
  border: none;
  padding: 7px;
  color: #ADD8E6;
  font-weight: bold;
  width: 250px;
}

.add-button {
  width: 25px;
  height: 25px;
  background-color: #9dd0e1;
  border: none;
}

.plusimg {
  width: 25px;
  height: 25px;
}

.my-list-items {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 300px;
  height: 250px;
}

li {
  padding: 3px;
  font-size: 18px;
  list-style-type: none;
}

/* BOTTOM SECTIONS */

footer {
  flex: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 100%;
}

div {
  padding: 0 0.5em;
}

/* MEDIA QUEY */

@media (max-width: 768px) {
  .timer,
  .mytodo,
  .shared-to-do {
    margin: 0.5em auto;
  }
  
  .top, .bottom {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
  }

  .timer {
    height: auto;
  }

  .main-buttons {
    flex-direction: column;
  }

  .timer-button {
    width: 60px;
    height: 60px;
  }

  
  main {
    flex: 1 100vh;
  }
}