* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  flex: 1;
}

body {
  margin: 0;
  background-color: #F3F3F1;
}

header {
  background-color: #F3F3F1;
  display: flex;
  flex: 0 50px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 10px #e8e8e3;
}

.site-title {
  padding: 0 0.5em;
}

h2 {
  padding: 0 1em;
  font-size: 2.5em;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  color: #3691b0;
  text-decoration: none;
  font-weight: bold;
  padding: 0 0.5em;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;
}

footer {
  flex: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 100%;
}

div {
  padding: 0 0.5em;
}

@media (max-width: 768px) {
  main {
    flex: 1 100vh;
  }
}