.top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2em;
}

.bottom {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 40px;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .top, .bottom {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
  }
}