  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }  

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  input {
    border-radius: 5px;
    border: none;
    margin: 20px;
    padding-left: 10px;
    height: 40px;
    width: 250px;
  }

  input::placeholder {
    font-weight: bold;
  }

  input:focus {
    border: 3px solid #EBF6F9;
  }

  .button {
    background-color: #3691b0;
    color: #EBF6F9;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 260px;
    border-radius: 15px;
    margin: 7px;
    cursor: pointer;
    font-size: medium;
  }

  